*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100vh;
    background-color: rgba(58, 139, 183, 0.989);
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #3a8bb7;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}
button:hover {
    background-color: #327aa3;
}
.result {
    margin-top: 15px;
    padding: 10px;
    background-color: #e1f5fe;
    border: 1px solid #81d4fa;
    border-radius: 5px;
    font-size: 16px;
    color: #0277bd;
    height: 45px;
}
 

