* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: antiquewhite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 400px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
    color: #333;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
    color: #555;
    font-size: 18px;
}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 15px;
}
#grade,#pass_fail {
    font-weight: 600;
    color: #333;
    margin-right: 10px;
    font-size: 16px;
}
#grade_display, #pass_fail_display {
    background-color: #efefef;
    margin: 10px 0;
    font-size: 16px;
    color: #444;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    min-height: 35px;
}