* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: pink;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.container {
  background-color: #fff;
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
h1 {
  text-align: center;
  font-weight: 600;
  color: palevioletred;
  margin-bottom: 25px;
  padding: 8px;
  border-bottom: 1px solid;
}
label {
  font-size: 18px;
  font-weight: 450;
  gap: 20px;
}
#label2 {
  margin-left: 15px;
}
input {
  width: 100px;
  height: 30px;
  border-radius: 6px;
  padding: 8px;
  outline: none;
  font-size: 14px;
  border: 2px solid #e3e3e3;
}
.buttons {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid palevioletred;
}
button {
  margin-top: 20px;
  padding: 8px 20px;
  width: 110px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin-bottom: 15px;
  border: none;
}
#addBtn {
  background-color: blue;
  border-radius: 6px;
  cursor: pointer;
}
#subBtn {
  background-color: green;
  border-radius: 6px;
  cursor: pointer;
}
#mulBtn {
  background-color: orange;
  border-radius: 6px;
  cursor: pointer;
}
#divBtn {
  background-color: red;
  border-radius: 6px;
  cursor: pointer;
}
#spn {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
}
.result {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin-bottom: 10px;
  font-style: italic;
}
