* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background: lightblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: white;
    height: 300px;
    border-radius: 15px;
    padding: 20px;
    border: 2px solid #999;
   
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
    font-weight: 600;
}
label {
    font-size: 1.5rem;
    font-weight: 400;
    vertical-align: middle;
}
input[type="number"]{
    height: 30px;
    width: 100px;
    border-radius: 8px;
    outline: none;
    border: 2px solid #e0e0e0;
    transition: border-color 0.3s ease;
    font-size: 16px;
    padding: 10px;
    font-weight: 500;
}
input:focus {
    border-color: lightblue;
}
button {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: lightblue;
    font-size: 16px;
    position: relative;
    font-weight: 550;
    transition: all 0.3s;
}
button:hover {
    transform: translateY(-3px);
}
button:active {
    transform: translateY(0);
}
input[type="text"] {
    background-color: lightblue;
    height: 35px;
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
    border: none;
    font-weight: 500;
}


